<a href="https://colab.research.google.com/github/SachinScaler/Aug23AdvancedPython/blob/main/Functional_Programming_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def square(x):
    out = x**2
    return out
square(2)

4

lambda function

In [3]:
sq = lambda x:x**2
sq(2)

4

In [4]:
sq(3)

9

In [5]:
(lambda x:x**2)(2)

4

In [7]:
var = (lambda x:x**2)(8)
var

64

In [8]:
### two or more
print((lambda x,y:x*y)(8,2))

16

In [9]:
div = (lambda x,y:x//y)
div(8,2)

4

In [12]:
# conditional
funct = (lambda x,y:x//y if x>y else x*y)
funct(2,8)

16

In [13]:
# ternary operator
x = 10
a = x if x>5 else x+2

In [15]:
# sorting: setting up keys
func = lambda x: return x*2
print(func(2))

SyntaxError: ignored

In [16]:
func = lambda : 10
print(func())

10

In [17]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
]
print(sorted(students))

TypeError: ignored

In [18]:
students[0]>students[1]

TypeError: ignored

In [23]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
]
print(sorted(students, key=lambda s: s["name"], reverse= False))

[{'name': 'A', 'marks': 50}, {'name': 'B', 'marks': 100}, {'name': 'C', 'marks': 40}]

Can we do recursion with lambda function:

In [24]:
fact = lambda x: x*fact(x-1) if x>1 else 1
fact(5)

120

In [25]:
## perform square on a list of values
list1 = [1,2,3,4,5]
print(map(lambda x:x**2,list1))

<map object at 0x7835e07f69e0>

In [26]:
list(map(lambda x:x**2,list1))

[1, 4, 9, 16, 25]

In [27]:
for i in map(lambda x:x**2,list1):
    print(i)

1
4
9
16
25

map(func, map(func2, nested))

In [29]:
myfunct = lambda x:x%2==0

list1 = [1,2,3,4,5]
out = (filter(myfunct,list1))
print(out)

<filter object at 0x7835e07f63e0>

In [30]:
tuple(out)

(2, 4)

In [31]:
for i in out:
    print(i)

In [33]:
myfunct = lambda x:10

list1 = [1,2,3,4,5]
out = (filter(myfunct,list1))
print(list(out))

[1, 2, 3, 4, 5]

In [35]:
# "", [], False,0--> False || Everything else is True
bool("")

True

### Zip

In [37]:
list1 = [1,2,3,4,6]
list2=[10,20]
list3= ['a']
list(zip(list1,list2, list3))

[(1, 10, 'a')]

In [47]:
from functools import reduce

list1 = [1,2,3,4,6]
reduce(lambda x,y:x-y, list1)

-14

In [46]:
reduce(lambda x,y:x-y, list1, 100)

84

In [43]:
reduce(lambda x,y:x+y, ["s",'a','c','h','i','n'])

'sachin'

In [48]:
# arbitrary positional argument
def func(a,b ):
    return a+b

func(10,20, 30)

TypeError: ignored

In [53]:
def func(a,b, *args):
    print(args)
    print(type(args))
    return a+b+sum(args)

func(10,20, 30,40,50,60)

(30, 40, 50, 60)
<class 'tuple'>

210

In [55]:
func(10,20,30)

(30,)
<class 'tuple'>

60

In [56]:
def func(a,b, *emptytup):
    print(emptytup)
    print(type(emptytup))
    return a+b+sum(emptytup)

func(10,20, 30,40,50,60)

(30, 40, 50, 60)
<class 'tuple'>

210

In [58]:
def func(a,b, *emptytup):
    print(emptytup)
    print(type(emptytup))
    return a+b+sum(emptytup)

func(10,20, 30,40,50,60)

(30, 40, 50, 60)
<class 'tuple'>

210

In [59]:
# arbitrary keyword argument
def func(a,b, **kwargs):
    print(kwargs)
    print(type(kwargs))
    return a+b+sum(kwargs)

func(10,20,d= 30,e= 40,f = 50,g = 60)

{'d': 30, 'e': 40, 'f': 50, 'g': 60}
<class 'dict'>

TypeError: ignored

In [62]:
def func(name, age , **kwargs):
    info = {"name":name, "age":age}
    info.update(kwargs)
    return info
func("Sachin", 20, subject="Adv Py")

{'name': 'Sachin', 'age': 20, 'subject': 'Adv Py'}

In [63]:
def func(name, age , **anyname):
    info = {"name":name, "age":age}
    info.update(anyname)
    return info
func("Sachin", 20, subject="Adv Py")

{'name': 'Sachin', 'age': 20, 'subject': 'Adv Py'}

In [65]:
def func(name, age ,*args, **anyname):
    info = {"name":name, "age":age, 'extra':args}
    info.update(anyname)
    return info
func("Sachin", 20,100, subject="Adv Py")

{'name': 'Sachin', 'age': 20, 'extra': (100,), 'subject': 'Adv Py'}