<a href="https://colab.research.google.com/github/SachinScaler/Aug23AdvancedPython/blob/main/OOP_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Student:
    pass

s1 = Student() # instantiating Student Class
s2 = Student()

In [3]:
s1.name = "Nitesh"
s2.name = "Aryan"
s2.id=101

In [4]:
# properties are also instance Variables

In [5]:
print(s1.id)

AttributeError: ignored

In [6]:
s1.__dict__

{'name': 'Nitesh'}

In [7]:
s2.__dict__

{'name': 'Aryan', 'id': 101}

In [8]:
s1.name = "Nitesh"
s2.name = "Aryan"
s2.id=101
s1.id=102

In [9]:
isinstance(s1,Student)

True

In [10]:
isinstance(s1,object)

True

In [11]:
isinstance(Student,object)

True

In [12]:
class Student(object): # class Student:
    pass

### Init: Intializer

In [14]:
class Student:
    def __init__(self, name,id):
        self.name = name
        self.id = id

s1 = Student("Nitesh",101 ) # instantiating Student Class
s2 = Student("Aryan", 102)

In [15]:
s1.__dict__

{'name': 'Nitesh', 'id': 101}

In [16]:
s2.__dict__

{'name': 'Aryan', 'id': 102}

In [19]:
class A:
    def func():
        print("Hello")

a1 = A()
a1.func() # a1.attributename, a1.function()

TypeError: ignored

a1.func() --> A.func(a1)

In [20]:
class A:
    def func(obj):
        print("Hello")

a1 = A()
a1.func() # a1.attributename, a1.function()

Hello

In [21]:
a2 = A()
a2.func()

Hello

In [22]:
class A:
    def func(obj):
        print(id(obj))
        print("Hello")

a1 = A()
print(id(a1))

132860143493824

In [23]:
a1.func()

132860143493824
Hello

In [24]:
a100 = A()
print(id(a100))
a100.func()

132860143487824
132860143487824
Hello

In [26]:
class A:
    def func(self):
        print(id(self))
        print("Hello")

# self will store the current object calling the function
a1 = A()
a2 = A()
a1.func() # A.func(a1)
a2.func()

132860143496752
Hello
132860143492672
Hello

132860143496752
Hello

In [28]:
def Hello(name):
    print("Hello ", name)

Hello("Sachin")

Hello  Sachin

In [37]:
class Student: # class Student:
    def intro(self):
        print("Hi My name is", self.name) # self.name= s1.name and s2.name

s1 = Student()
s2 = Student()

s1.name = "Nitesh"
s2.name = "Aryan"
s2.id=101
s1.id=102

In [38]:
print(s1.name)

Nitesh

In [39]:
s1.intro()

Hi My name is Nitesh

In [40]:
s2.intro()

Hi My name is Aryan

In [42]:
class Student: # class Student:
    def intro(self):
        print("Hi My name is", self.name) # self.name= s1.name and s2.name
    def create_name(self, name):
        self.name=name

s1 = Student()
# s1.name = "Rushikesh"
s1.create_name("Rushikesh")
print(s1.__dict__)

{'name': 'Rushikesh'}

In [43]:
class Student:
    def __init__(self, name,id):
        self.name = name
        self.id = id

s1 = Student("Nitesh",101) # instantiating Student Class
s2 = Student("Aryan", 102)

In [ ]:
# __new__--> object of class S1

In [44]:
print(id(s1))
s1.name

132860619830848

'Nitesh'

In [45]:
s1.name="Jatesh"
print(id(s1))

132860619830848

###

In [47]:
dir(s1) # all atrrubutes and methods present to object

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'id',
 'name']

Explore following dunder methods:
- `__eq__`
- `__str__`
- `__ge__`
- `__new__`
- `__del__`

In [49]:
class Student:
    def __init__(self, name,id):
        print("Create Object of Student")
        self.name = name
        self.id = id

s1 = Student("Nitesh",101) # instantiating Student Class
s2 = Student("Aryan", 102)

Create Object of Student
Create Object of Student

## Class Variables
##  Pillars of OOP

In [52]:
11 + 20 # arithmatic sum

31

In [53]:
"11" + "20" # concatengation

'1120'

In [57]:
class Circle():
    def __init__(self,r):
        self.radius=r
    def area(self):
        return  3.14*(self.radius**2) # 3.14 r

c1 = Circle(100)
c1.area()

31400.0

In [58]:
class Square():
    def __init__(self,side):
        self.side=side
    def area(self):
        return self.side*self.side # 3.14 r

s1 = Square(100)
s1.area()

10000

In [62]:
# ineheritance
class B:
    pass

class A(B): # inheritance
    pass

In [63]:
### Abstraction
s1 = Square(20)
s1.area()

400

In [64]:
s2 = Square(10)
s2.area()

100

In [65]:
### encapsulation
s1 # properties as well as functionality

In [66]:
s1.side

20

In [67]:
s1.area()

400

Access Specifier

```
class Square():
    def __init__(self,side):
        self.side=side # public varible
    def area(self):
        return self.side*self.side # 3.14 r

s1 = Square(100)
print(s1.side)
```

In [72]:
class Square():
    def __init__(self,side):
        self.__side=side # private varible
    def area(self):
        return self.__side*self.__side # 3.14 r

s1 = Square(100)
print(s1.__side)

AttributeError: ignored

In [73]:
(s1.__side)*(s1.__side)

AttributeError: ignored

In [74]:
s1.area()

10000

### There is no such thing as truly private in python

In [78]:
s1.__dict__ # name mangling # _className__privatevate

{'_Square__side': 100}

In [79]:
(s1._Square__side)*(s1._Square__side)

10000

### HW: _ Protected Variables

Class Variables:

In [97]:
class Student:
    course_name="DSML"  # Class Variable
    def __init__(self, name,id):
        self.name = name
        self.id = id


s1 = Student("Nitesh",101) # instantiating Student Class
s2 = Student("Aryan", 102)
s3 = Student("Shabi", 103)

In [98]:
s1.course_name

'DSML'

In [99]:
s2.course_name

'DSML'

In [100]:
s3.course_name

'DSML'

In [104]:
Student.course_name="Academy" # all objects will be affected
print(s1.course_name)
print(s2.course_name)
print(s3.course_name)

Academy
Academy
DSML

In [105]:
s3.course_name="DSML" # creating instance variables specific to s3 only
print(s1.course_name)
print(s2.course_name)
print(s3.course_name)

Academy
Academy
DSML

- One more use case of class Variable
- Inheritance
- abstract Classes

In [105]:
class Circle():
    def __init__(self,r):
        self.radius=r
    def area(self):
        return  3.14*(self.radius**2) # 3.14 r

c1 = Circle(100)
c1.area()

In [ ]:
def funct(list1, val):
    list1[0]=val

In [132]:
var = 100
class A:
    a = 3  # ClassVar
    def temp():
        print(var)
class B:
    def temp():
        print(var)
A.temp()for i in range(n):
p = 0
j = n
while(j>1):
p+=1
k = 1
while(k<p):
q+=1
k *=2
j = j/2

100

In [121]:
class Student:
    def __init__(self, name,id) -> None:
        self.name = name
        self.id = id

s1 = Student("Varun", "1")
s2 = Student("Sachin", "2")
# while i am creating class it comes like this in IDE, what is None here ?

In [128]:
def myfunct(a: str)->None:
    return ("Hello " + a)
myfunct("10")

'Hello 10'

In [129]:
help(myfunct)

Help on function myfunct in module __main__:

myfunct(a: str) -> None

In [ ]:
i,j,k,p,q = 0
for i in range(n):
    p = 0
    j = n
    while(j>1):
        p+=1 # logn
        k = 1
        while(k<p):
            q+=1
            k *=2 # logp
    j = j/2 # logn