<a href="https://colab.research.google.com/github/SachinScaler/Aug23AdvancedPython/blob/main/OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Dog:

    kind = "canine" # class var

    def __init__(self, NAME):
        self.name = NAME
        #instance = local var

In [2]:
class Account:
  def __init__(self, acc_id, name, bal):
    self.acc_id = acc_id
    self.name = name
    self.bal = bal

c1 = Account(1,100, "Sachin")
c2 = Account(2,500, "Ravi")
c2.surname = "K"
print(c1.__dict__)
print(c2.__dict__)

{'acc_id': 1, 'name': 100, 'bal': 'Sachin'}
{'acc_id': 2, 'name': 500, 'bal': 'Ravi', 'surname': 'K'}

In [5]:
class Student:
  batch = 'June22' # class variable: Immutables
  def __init__(self, name):
    self.name = name
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")
p1.batch = 'July22' # using object: it creates an instance variable

print(Student.batch, p1.batch)

June22 July22

In [6]:
class Student:
  batch = 'June22' # class variable: Immutables
  def __init__(self, name):
    self.name = name
    self.batch='June22'
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")
p2=Student("Achu")
Student.batch = 'July22' # using class: it creates an instance variable

print(Student.batch, p1.batch, p2.batch)

July22 July22 July22

In [21]:
class Student:
  batch = 'June22' # class variable: Immutables
  roll_no = 100
  def __init__(self, name):
    self.name = name
    self.rollno = Student.roll_no
    Student.roll_no+=1

  def get_person_name(self):
    print(self.name)


p1=Student("Needa")
p2=Student("Achu")

In [22]:
p1.rollno

100

In [23]:
p2.rollno

101

In [24]:
Student.roll_no

102

In [25]:
p3=Student("Achu")
p3.rollno

102

In [26]:
Student.roll_no

103

In [27]:
Student.roll_no+=1000

In [28]:
p3=Student("Anuj")
p3.rollno

1103

In [29]:
class Student:
  batch = ['June22'] # class variable: Mutables
  def __init__(self, name):
    self.name = name
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")
p1.batch.append('July22') # using object: shared hence the class var itself will get  modified

print(Student.batch, p1.batch)

['June22', 'July22'] ['June22', 'July22']

In [30]:
class Student:
  batch = ['June22'] # class variable: Mutable
  def __init__(self, name):
    self.name = name
  def get_person_name(self):
    print(self.name)


p1=Student("Needa")
Student.batch.append('July22') # using Class: shared hence the class var itself will get  modified

print(Student.batch, p1.batch)

['June22', 'July22'] ['June22', 'July22']

In [31]:
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Bunty")

print(id(a1) == id(a2))

False

In [34]:
type(10)

int

In [35]:
class A:
    def __init__(self):
      print("New object Created!")

A() # line1

obj1 = A() # line2

if A():  # line 3
    print(A()) # line 4

New object Created!
New object Created!
New object Created!
New object Created!
<__main__.A object at 0x7a9cfc363460>

In [36]:
class A:
    counter= 0
    def __init__(self):
      A.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

3

In [37]:
class A:
    counter=0
    def __init__(self):
      self.counter+=1

A()

obj1 = A()

if A():
    print(A.counter)

0

In [38]:
obj1.counter

1

In [61]:
class Student:
  batch = ['June22'] # class variable: Mutable
  def __init__(self, name):
    self.name = name
  def get_person_name(self):
    print(self.name)

  def __str__(self):
    return f"{self.name} from {self.batch}"

  def __eq__(self, obj):
    if self.name==obj.name:
        return True
    else:
        return False
  def __add__(self, obj):
        return  self.name+obj.name

p1=Student("Needa")

In [62]:
print(p1)

Needa from ['June22']

In [63]:
p2=Student("Nitesh")

In [64]:
p1==p2

False

In [65]:
p1+p2

'NeedaNitesh'

Inheritance

In [72]:
class Parent:
    par_var = "Class Var from Parent"
    def __init__(self):
        print("inside Parent class")

class Child():
    def __init__(self):
        print("inside Child class")

p1 = Parent()
p1.par_var

inside Parent class

'Class Var from Parent'

In [73]:
c1 = Child()
c1.par_var

inside Child class

AttributeError: ignored

In [81]:
# inherit
class Parent:
    par_var = "Class Var from Parent"
    def __init__(self):
        print("inside Parent class")
    def method_in_parent(self):
        return "Parent Method"
    def method(self):
        return "Hi from Parent"

class Child(Parent):
    def __init__(self):
        print("inside Child class")
    def method(self):
        return "Hi from Child"

p1 = Parent()
p1.par_var

inside Parent class

'Class Var from Parent'

In [82]:
p1.method_in_parent()

'Parent Method'

In [83]:
c1 = Child()
c1.par_var

inside Child class

'Class Var from Parent'

In [84]:
c1.method_in_parent()

'Parent Method'

In [85]:
p1.method()

'Hi from Parent'

In [86]:
c1.method()

'Hi from Child'

In [87]:
# inherits
class Parent:
    par_var = "Class Var from Parent"
    __pri_par_var=100 # private vars are not inherited
    def __init__(self):
        print("inside Parent class")
    def method_in_parent(self):
        return "Parent Method"
    def method(self):
        return self.__pri_par_var

class Child(Parent):
    def __init__(self):
        print("inside Child class")
    def method(self):
        return self.__pri_par_var

p1 = Parent()
p1.method()

inside Parent class

100

In [88]:
c1 = Child()
c1.method()

inside Child class

AttributeError: ignored

In [93]:
#
class SchoolMember:
    def __init__(self,name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, grade):
        self.grade=grade

class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.name = name
        self.salary=salary

class Teacher(Staff):
    def __init__(self, name, salary, subject):
        self.name = name
        self.salary=salary
        self.subject= subject

s1 = Student("Sachin","Primary")

In [94]:
s1.name

AttributeError: ignored

In [95]:
s1.grade

'Primary'

In [100]:
#
class SchoolMember:
    def __init__(self,name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, grade):
        # SchoolMember.__init__(self,name) # method1
        super().__init__(name) # method 2
        self.grade=grade

class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary=salary

class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name,salary)
        self.subject= subject

s1 = Student("Sachin","Primary")

In [101]:
print(s1.grade)
print(s1.name)

Primary
Sachin

In [103]:
t1 = Teacher("Sachin",10, "Adv Python")

In [104]:
t1.name,t1.salary, t1.subject

('Sachin', 10, 'Adv Python')

In [106]:
class Audio:
    def use(self):
        print("To listen")

class Video(Audio):
    def use(self):
        print("To see")
        super().use()


class Movie(Video):
    def use(self):
        super().use() # Video.use(self)

m1 = Movie()
m1.use()

To see
To listen

In [109]:

class Audio:
    def use(self):
        print("To listen")

class Video:
    def use(self):
        print("To see")

class Movie(Audio, Video):
    def use(self):
        super().use()

m1 = Movie()
m1.use()

To listen

In [110]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

e1 = E()
e1.x

5

In [114]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [115]:
E.mro()

[__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object]

In [116]:
class BankAccount:
    def __init__(self, balance=100):
        self.__balance = balance

    def get_balance(self):
        return self.__balance

b1 = BankAccount(10)
b1.__balance= 10000000000
print(b1.get_balance())

10

In [118]:
class BankAccount:
    def __init__(self, balance=100):
        self.__balance = balance

    # getter method
    def get_balance(self):
        return self.__balance

    # setter method
    def set_balance(self, balance):
        self.__balance = balance


b1 = BankAccount(10)
b1.__balance=10000000000
print(b1.get_balance())

10

- methods used to access private vars outside the class: Getter Methods
- methods used to set/update private vars outside the class: Setter Methods

In [119]:
b1.set_balance(10000000000)
print(b1.get_balance())

10000000000

Abstraction:
- hide implementation details
- provides generalize template

### why:

In [132]:
'''
we want shape class to acts as a template and
every child class inheriting from Shape must override the area method
'''
class Shape:
    def area(self):
        pass

class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return self.side**2

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    #def area(self):
    #     return 3.14*self.radius**2

In [133]:
s1 = Square(4)
s1.area()

16

In [134]:
c1 = Circle(4)
print(c1.area())

None

In [136]:
'''
we want shape class to acts as a template and
every child class inheriting from Shape must override the area method
'''
from abc import ABC, abstractmethod

class Shape(ABC): # inherit from ABC
    @abstractmethod
    def area(self): # abstract method
        pass

class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return self.side**2

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    #def area(self):
    #     return 3.14*self.radius**2

In [137]:
s1 = Square(4)
s1.area()

16

In [138]:
c1 = Circle(4)

TypeError: ignored

In [140]:

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14*self.radius**2

c1 = Circle(4)
c1.area()

50.24

```
abstract classes define what but not how
```