<a href="https://colab.research.google.com/github/SachinScaler/Aug23AdvancedPython/blob/main/Problem_Solving_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10)#blank1
#_____________________#blank2
Student.subject_name="Machine Learning"

print(s1.name, s1.roll_no, s1.subject_name) # Emma 10 Machine Learning

Emma 10 Machine Learning

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10)#blank1
#_____________________#blank2
s1.subject_name="Machine Learning" # we are creating an instance variable


print(s1.name, s1.roll_no, s1.subject_name) # Emma 10 Machine Learning

Emma 10 Machine Learning

In [ ]:
(lambda x: ((x**3)%2==0,x**3))(4)

(True, 64)

In [ ]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [ ]:
def hello():
    print("Hi")
print(hello())

Hi
None

In [ ]:
class A:
   def one(self):
       return self.two()
   def two(self):
       return 'A'
class B(A):
   def two(self):
       return 'B'
obj= B()
print(obj.one())

B

In [ ]:
class Parent:
  def __init__(self):
    pass
  def print(self):
    print("60")

class Child(Parent):
   # ____________
   def type(self):
    super().print()

C=Child()
C.type()

60

In [ ]:
class Parent:
  def __init__(self):
    pass
  def print(self):
    print("60")

class Child(Parent):
   # ____________
   def type(self):
    self.print()

C=Child()
C.type()

60

In [ ]:
class Parent:
  def __init__(self):
    pass
  def print(self):
    print("60")

class Child(Parent):
   # ____________
   def type(self):
    Parent.print(self)

   def Hello():
        print("Inside Class Method")

C=Child()
C.type()

60

In [ ]:
Child.print(C)

60

In [ ]:
Child.type(C)

60

In [ ]:
C.Hello()

TypeError: ignored

In [ ]:
Child.Hello()

Inside Class Method

In [ ]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")

    def __init__(self):
        print("Demo's __init__() invoked")

class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")

    def __init__(self):
        print("Derived_Demo's __init__() invoked")

def main():
    obj1 = Derived_Demo()
    obj2 = Demo()

main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [ ]:
class Demo:
    def __new__(self):
        #self.__init__(self)
        print("Demo's __new__() invoked")

    def __init__(self):
        print("Demo's __init__() invoked")

obj2 = Demo()

Demo's __init__() invoked

In [ ]:
class A(object):
    def __new__(cls):
         print("Creating instance")
         return super(A, cls).__new__(cls) # returns a valid instance

    def __init__(self):
        print("Init is called")

A()

Creating instance
Init is called

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [ ]:
print(ls11)

[1, 2, 3]

In [ ]:
list1 = [1,2,3]
list2 = [5,6,7]
out = zip(list1,list2)
zipped_tup = list(out)
zipped_tup

[(1, 5), (2, 6), (3, 7)]

In [ ]:
# unzip
a,b = zip(*zipped_tup)
print(a)
print(b)

(1, 2, 3)
(5, 6, 7)

In [ ]:
x = [1,2,3]
y = [4,5,6]
zipped = zip(x,y)
unzipped_x, unzipped_y = zip(*zipped)

In [ ]:
n=9
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21]

#map(lambda x:fact(x) if (lambda Prime(x)) else x, fib(9))
def prime():
    pass

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)
print(type(result))
print(result())

<class 'function'>
(1, 4)

In [ ]:
lambda : 4

In [ ]:
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SaM@harvard.com"]
name = "sam"
result = list(filter(lambda x : name.lower() in x or name.upper() in x , ids))
print(result)

['SAM@gmail.com', 'sam@gmail.com', 'samJohnson@iit.com']

sam

In [ ]:
set()|{1}

{1}

In [ ]:
### Write recursive implementation of subset question

### What is DataClass?

It's a Decorator which helps in creating Classes used for storing DATA and reduces BoilerPlate i.e. dunder

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age

    # __str__ or __repr__
p1 = Person("Sachin",1000)
print(p1)

<__main__.Person object at 0x7e816a9ce050>

In [ ]:
p2 = Person("Naveen",1000)
print(p2==p1)

False

In [ ]:
p3 = Person("Sachin",1000)
print(p3==p1)

False

In [ ]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int

p1 = Person("Sachin",1000)
print(p1)

Person(name='Sachin', age=1000)

In [ ]:
p3 = Person("Sachin",1000)
print(p3==p1)

True

In [ ]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int

p1 = Person("Sachin",1000)
print(p1)

Person(name='Sachin', age=1000)

In [ ]:
p1.age = 100

In [ ]:
print(p1)

Person(name='Sachin', age=100)

In [ ]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Person:
    name:str
    age:int

p1 = Person("Sachin",1000)
print(p1)

Person(name='Sachin', age=1000)

In [ ]:
p1.age = 100

FrozenInstanceError: ignored

In [ ]:
p1.__dict__

{'name': 'Sachin', 'age': 1000}

In [ ]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Person:
    name:str
    age:int=100

p1 = Person("Sachin")
print(p1)

Person(name='Sachin', age=100)

In [ ]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Person:
    name:str
    age:int=100

    def set_age(self,age):
        self.age=age

p1 = Person("Sachin")
print(p1)

Person(name='Sachin', age=100)

In [ ]:
p1.age= 1000

FrozenInstanceError: ignored

In [ ]:
p1.set_age(1000)

FrozenInstanceError: ignored